.can {
    background-color: red;
    width: 240px;
}

.seviye {
    background-color: yellow;
    width: 0px;
}

.cetvel {
    background-color: black;
    height: 2px;
    width: 240px;
}